@import '../node_modules/purecss/build/pure.css';

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  padding: 1em;
}

.l-box {
  padding-left: 1em;
}

input {
  margin: 1em;
}

body {
    background-color: #ddd;
    margin-top: 20px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}

button {
    margin-right: 15px;
}


@media (min-width: 48em) {
  .header, .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.content {
  padding: 0 2em;
  margin: 0 auto 50px;
  max-width: 1000px;
}
